appdirs
asgiref
Brotli
certifi
cffi
chardet
cssselect2
distlib
Django
django-environ
django-renderpdf
et-xmlfile
fonttools
html5lib
idna
mysql-connector
numpy
openpyxl
pandas
Pillow
pycparser
pydyf
pyphen
python-dateutil
pytz
requests
six
sqlparse
tinycss2
urllib3
WeasyPrint
webencodings
zopfli
