appdirs==1.4.4
asgiref==3.2.10
Brotli==1.0.9
certifi==2022.9.24
cffi==1.15.1
chardet==3.0.4
cssselect2==0.7.0
distlib==0.3.6
Django==3.1.1
django-renderpdf==3.0.1
fonttools==4.38.0
html5lib==1.1
idna==2.10
mysql-connector==2.2.9
Pillow==9.3.0
pycparser==2.21
pydyf==0.5.0
pyphen==0.13.1
pytz==2022.6
requests==2.24.0
six==1.16.0
sqlparse==0.4.3
tinycss2==1.2.1
urllib3==1.25.11
weasyprint==57.1
webencodings==0.5.1
zopfli==0.2.2
